section.home .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-info{
    width: 65%;
    max-width: 65%;
}

.light section.home {
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}
.light section.home .content .home-info h1 {
    color: #222;
}
section.home .content .home-info p.description {
    color: #888;
}
.light section.home .content .home-info p.description {
    color: #555;
}
section.home .content .home-info ul {
    display: flex;
    gap: 20px;
    color: #ddd;
    padding: 0;
}
.light section.home .content .home-info ul {
    color: #333;
}
section.home .content .home-info ul li a {
    color: #ddd;
    font-size: 20px;
    transition: .3s;
}
.light section.home .content .home-info ul li a {
    color: #444;
}
section.home .content .home-info ul li a:hover {
    color: salmon;
}
.light section.home .content .home-info ul li a:hover {
    color: #107bbe;
}
section.home .content .home-profile {
    width: 450px;
    height: 450px;
    position: relative;
}
@media (min-width: 992px) {
    section.home .content .home-profile .frame{
        width: 100%;
        height: 100%;
        background-color: salmon;
        border-radius: 78% 6%;
        position: absolute;
    }
    section.home .content .home-profile .frame::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: salmon;
        border-radius: 6% 78% ;
    }
}
section.home .content .home-profile img{
    width: 75%;
    height: 100%;
    object-fit: contain;
    transition: .3s;
    position: absolute;
}

@media (max-width: 992px) {
    section.home {
        width: 100%;
        background-image: url(/images/my_profile.png);
        background-position: right;
        background-size: 236px;
        background-repeat: no-repeat;
        position: relative;
        z-index: 1000;
    }
    
    section.home::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.341);
        z-index: 1;
        
    }
    .home-info{
        width: 100%!important;
        max-width: 100%!important;
        position: relative;
        z-index: 2000;
        
    }
    .home-info p.description {
        color: #ffffffa8!important;
    }
    .light .home-info p.description {
        color: #d7d6d6!important;
    }

    section.home .content .home-profile {
        display: none;
    }


}
@media (max-width: 768px) {
    section.home {
        background-size: 290px;
        background-position: center;
    }
    
}